{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@": "./src"
      }
    }]
  ],
  "overrides": [
    {
      "include": ["./node_modules/next/font/**/*.js"],
      "plugins": []
    }
  ]
} 